@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600");
@-ms-viewport {
  width: device-width; }

.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important; }

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important; }

@media (max-width: 767px) {
  .visible-xs {
    display: block !important; }
  table.visible-xs {
    display: table; }
  tr.visible-xs {
    display: table-row !important; }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important; } }

@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important; } }

@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important; } }

@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important; }
  table.visible-sm {
    display: table; }
  tr.visible-sm {
    display: table-row !important; }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important; }
  table.visible-md {
    display: table; }
  tr.visible-md {
    display: table-row !important; }
  th.visible-md,
  td.visible-md {
    display: table-cell !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important; } }

@media (min-width: 1200px) {
  .visible-lg {
    display: block !important; }
  table.visible-lg {
    display: table; }
  tr.visible-lg {
    display: table-row !important; }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important; } }

@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important; } }

@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important; } }

@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important; } }

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important; } }

@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important; } }

.visible-print {
  display: none !important; }

@media print {
  .visible-print {
    display: block !important; }
  table.visible-print {
    display: table; }
  tr.visible-print {
    display: table-row !important; }
  th.visible-print,
  td.visible-print {
    display: table-cell !important; } }

.visible-print-block {
  display: none !important; }

@media print {
  .visible-print-block {
    display: block !important; } }

.visible-print-inline {
  display: none !important; }

@media print {
  .visible-print-inline {
    display: inline !important; } }

.visible-print-inline-block {
  display: none !important; }

@media print {
  .visible-print-inline-block {
    display: inline-block !important; } }

@media print {
  .hidden-print {
    display: none !important; } }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }

@media (min-width: 992px) {
  .container {
    width: 970px; } }

@media (min-width: 1200px) {
  .container {
    width: 1170px; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

.col, .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-12 {
  width: 100%; }

.col-xs-11 {
  width: 91.66666667%; }

.col-xs-10 {
  width: 83.33333333%; }

.col-xs-9 {
  width: 75%; }

.col-xs-8 {
  width: 66.66666667%; }

.col-xs-7 {
  width: 58.33333333%; }

.col-xs-6 {
  width: 50%; }

.col-xs-5 {
  width: 41.66666667%; }

.col-xs-4 {
  width: 33.33333333%; }

.col-xs-3 {
  width: 25%; }

.col-xs-2 {
  width: 16.66666667%; }

.col-xs-1 {
  width: 8.33333333%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-pull-11 {
  right: 91.66666667%; }

.col-xs-pull-10 {
  right: 83.33333333%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-8 {
  right: 66.66666667%; }

.col-xs-pull-7 {
  right: 58.33333333%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-5 {
  right: 41.66666667%; }

.col-xs-pull-4 {
  right: 33.33333333%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-2 {
  right: 16.66666667%; }

.col-xs-pull-1 {
  right: 8.33333333%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-push-11 {
  left: 91.66666667%; }

.col-xs-push-10 {
  left: 83.33333333%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-8 {
  left: 66.66666667%; }

.col-xs-push-7 {
  left: 58.33333333%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-5 {
  left: 41.66666667%; }

.col-xs-push-4 {
  left: 33.33333333%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-2 {
  left: 16.66666667%; }

.col-xs-push-1 {
  left: 8.33333333%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-offset-12 {
  margin-left: 100%; }

.col-xs-offset-11 {
  margin-left: 91.66666667%; }

.col-xs-offset-10 {
  margin-left: 83.33333333%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-8 {
  margin-left: 66.66666667%; }

.col-xs-offset-7 {
  margin-left: 58.33333333%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-5 {
  margin-left: 41.66666667%; }

.col-xs-offset-4 {
  margin-left: 33.33333333%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-2 {
  margin-left: 16.66666667%; }

.col-xs-offset-1 {
  margin-left: 8.33333333%; }

.col-xs-offset-0 {
  margin-left: 0%; }

@media (min-width: 768px) {
  .col, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }
  .col-sm-12 {
    width: 100%; }
  .col-sm-11 {
    width: 91.66666667%; }
  .col-sm-10 {
    width: 83.33333333%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-8 {
    width: 66.66666667%; }
  .col-sm-7 {
    width: 58.33333333%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-5 {
    width: 41.66666667%; }
  .col-sm-4 {
    width: 33.33333333%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-2 {
    width: 16.66666667%; }
  .col-sm-1 {
    width: 8.33333333%; }
  .col-sm-pull-12 {
    right: 100%; }
  .col-sm-pull-11 {
    right: 91.66666667%; }
  .col-sm-pull-10 {
    right: 83.33333333%; }
  .col-sm-pull-9 {
    right: 75%; }
  .col-sm-pull-8 {
    right: 66.66666667%; }
  .col-sm-pull-7 {
    right: 58.33333333%; }
  .col-sm-pull-6 {
    right: 50%; }
  .col-sm-pull-5 {
    right: 41.66666667%; }
  .col-sm-pull-4 {
    right: 33.33333333%; }
  .col-sm-pull-3 {
    right: 25%; }
  .col-sm-pull-2 {
    right: 16.66666667%; }
  .col-sm-pull-1 {
    right: 8.33333333%; }
  .col-sm-pull-0 {
    right: auto; }
  .col-sm-push-12 {
    left: 100%; }
  .col-sm-push-11 {
    left: 91.66666667%; }
  .col-sm-push-10 {
    left: 83.33333333%; }
  .col-sm-push-9 {
    left: 75%; }
  .col-sm-push-8 {
    left: 66.66666667%; }
  .col-sm-push-7 {
    left: 58.33333333%; }
  .col-sm-push-6 {
    left: 50%; }
  .col-sm-push-5 {
    left: 41.66666667%; }
  .col-sm-push-4 {
    left: 33.33333333%; }
  .col-sm-push-3 {
    left: 25%; }
  .col-sm-push-2 {
    left: 16.66666667%; }
  .col-sm-push-1 {
    left: 8.33333333%; }
  .col-sm-push-0 {
    left: auto; }
  .col-sm-offset-12 {
    margin-left: 100%; }
  .col-sm-offset-11 {
    margin-left: 91.66666667%; }
  .col-sm-offset-10 {
    margin-left: 83.33333333%; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-offset-8 {
    margin-left: 66.66666667%; }
  .col-sm-offset-7 {
    margin-left: 58.33333333%; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-offset-5 {
    margin-left: 41.66666667%; }
  .col-sm-offset-4 {
    margin-left: 33.33333333%; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-offset-2 {
    margin-left: 16.66666667%; }
  .col-sm-offset-1 {
    margin-left: 8.33333333%; }
  .col-sm-offset-0 {
    margin-left: 0%; } }

@media (min-width: 992px) {
  .col, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }
  .col-md-12 {
    width: 100%; }
  .col-md-11 {
    width: 91.66666667%; }
  .col-md-10 {
    width: 83.33333333%; }
  .col-md-9 {
    width: 75%; }
  .col-md-8 {
    width: 66.66666667%; }
  .col-md-7 {
    width: 58.33333333%; }
  .col-md-6 {
    width: 50%; }
  .col-md-5 {
    width: 41.66666667%; }
  .col-md-4 {
    width: 33.33333333%; }
  .col-md-3 {
    width: 25%; }
  .col-md-2 {
    width: 16.66666667%; }
  .col-md-1 {
    width: 8.33333333%; }
  .col-md-pull-12 {
    right: 100%; }
  .col-md-pull-11 {
    right: 91.66666667%; }
  .col-md-pull-10 {
    right: 83.33333333%; }
  .col-md-pull-9 {
    right: 75%; }
  .col-md-pull-8 {
    right: 66.66666667%; }
  .col-md-pull-7 {
    right: 58.33333333%; }
  .col-md-pull-6 {
    right: 50%; }
  .col-md-pull-5 {
    right: 41.66666667%; }
  .col-md-pull-4 {
    right: 33.33333333%; }
  .col-md-pull-3 {
    right: 25%; }
  .col-md-pull-2 {
    right: 16.66666667%; }
  .col-md-pull-1 {
    right: 8.33333333%; }
  .col-md-pull-0 {
    right: auto; }
  .col-md-push-12 {
    left: 100%; }
  .col-md-push-11 {
    left: 91.66666667%; }
  .col-md-push-10 {
    left: 83.33333333%; }
  .col-md-push-9 {
    left: 75%; }
  .col-md-push-8 {
    left: 66.66666667%; }
  .col-md-push-7 {
    left: 58.33333333%; }
  .col-md-push-6 {
    left: 50%; }
  .col-md-push-5 {
    left: 41.66666667%; }
  .col-md-push-4 {
    left: 33.33333333%; }
  .col-md-push-3 {
    left: 25%; }
  .col-md-push-2 {
    left: 16.66666667%; }
  .col-md-push-1 {
    left: 8.33333333%; }
  .col-md-push-0 {
    left: auto; }
  .col-md-offset-12 {
    margin-left: 100%; }
  .col-md-offset-11 {
    margin-left: 91.66666667%; }
  .col-md-offset-10 {
    margin-left: 83.33333333%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-offset-8 {
    margin-left: 66.66666667%; }
  .col-md-offset-7 {
    margin-left: 58.33333333%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-offset-5 {
    margin-left: 41.66666667%; }
  .col-md-offset-4 {
    margin-left: 33.33333333%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-offset-2 {
    margin-left: 16.66666667%; }
  .col-md-offset-1 {
    margin-left: 8.33333333%; }
  .col-md-offset-0 {
    margin-left: 0%; } }

@media (min-width: 1200px) {
  .col, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }
  .col-lg-12 {
    width: 100%; }
  .col-lg-11 {
    width: 91.66666667%; }
  .col-lg-10 {
    width: 83.33333333%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-8 {
    width: 66.66666667%; }
  .col-lg-7 {
    width: 58.33333333%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-5 {
    width: 41.66666667%; }
  .col-lg-4 {
    width: 33.33333333%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-2 {
    width: 16.66666667%; }
  .col-lg-1 {
    width: 8.33333333%; }
  .col-lg-pull-12 {
    right: 100%; }
  .col-lg-pull-11 {
    right: 91.66666667%; }
  .col-lg-pull-10 {
    right: 83.33333333%; }
  .col-lg-pull-9 {
    right: 75%; }
  .col-lg-pull-8 {
    right: 66.66666667%; }
  .col-lg-pull-7 {
    right: 58.33333333%; }
  .col-lg-pull-6 {
    right: 50%; }
  .col-lg-pull-5 {
    right: 41.66666667%; }
  .col-lg-pull-4 {
    right: 33.33333333%; }
  .col-lg-pull-3 {
    right: 25%; }
  .col-lg-pull-2 {
    right: 16.66666667%; }
  .col-lg-pull-1 {
    right: 8.33333333%; }
  .col-lg-pull-0 {
    right: auto; }
  .col-lg-push-12 {
    left: 100%; }
  .col-lg-push-11 {
    left: 91.66666667%; }
  .col-lg-push-10 {
    left: 83.33333333%; }
  .col-lg-push-9 {
    left: 75%; }
  .col-lg-push-8 {
    left: 66.66666667%; }
  .col-lg-push-7 {
    left: 58.33333333%; }
  .col-lg-push-6 {
    left: 50%; }
  .col-lg-push-5 {
    left: 41.66666667%; }
  .col-lg-push-4 {
    left: 33.33333333%; }
  .col-lg-push-3 {
    left: 25%; }
  .col-lg-push-2 {
    left: 16.66666667%; }
  .col-lg-push-1 {
    left: 8.33333333%; }
  .col-lg-push-0 {
    left: auto; }
  .col-lg-offset-12 {
    margin-left: 100%; }
  .col-lg-offset-11 {
    margin-left: 91.66666667%; }
  .col-lg-offset-10 {
    margin-left: 83.33333333%; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-offset-8 {
    margin-left: 66.66666667%; }
  .col-lg-offset-7 {
    margin-left: 58.33333333%; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-offset-5 {
    margin-left: 41.66666667%; }
  .col-lg-offset-4 {
    margin-left: 33.33333333%; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-offset-2 {
    margin-left: 16.66666667%; }
  .col-lg-offset-1 {
    margin-left: 8.33333333%; }
  .col-lg-offset-0 {
    margin-left: 0%; } }

.clearfix,
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table; }

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

#loading-bar, #loading-bar-spinner {
  pointer-events: none;
  -webkit-pointer-events: none;
  -webkit-transition: 350ms linear all;
  -moz-transition: 350ms linear all;
  -o-transition: 350ms linear all;
  transition: 350ms linear all; }

#loading-bar-spinner.ng-enter, #loading-bar-spinner.ng-leave.ng-leave-active, #loading-bar.ng-enter, #loading-bar.ng-leave.ng-leave-active {
  opacity: 0; }

#loading-bar-spinner.ng-enter.ng-enter-active, #loading-bar-spinner.ng-leave, #loading-bar.ng-enter.ng-enter-active, #loading-bar.ng-leave {
  opacity: 1; }

#loading-bar .bar {
  -webkit-transition: width 350ms;
  -moz-transition: width 350ms;
  -o-transition: width 350ms;
  transition: width 350ms;
  background: #29d;
  position: fixed;
  z-index: 10002;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  border-bottom-right-radius: 1px;
  border-top-right-radius: 1px; }

#loading-bar .peg {
  position: absolute;
  width: 70px;
  right: 0;
  top: 0;
  height: 2px;
  opacity: .45;
  -moz-box-shadow: #29d 1px 0 6px 1px;
  -ms-box-shadow: #29d 1px 0 6px 1px;
  -webkit-box-shadow: #29d 1px 0 6px 1px;
  box-shadow: #29d 1px 0 6px 1px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%; }

#loading-bar-spinner {
  display: block;
  position: fixed;
  z-index: 10002;
  top: 10px;
  left: 10px; }

#loading-bar-spinner .spinner-icon {
  width: 14px;
  height: 14px;
  border: 2px solid transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;
  -webkit-animation: loading-bar-spinner 400ms linear infinite;
  -moz-animation: loading-bar-spinner 400ms linear infinite;
  -ms-animation: loading-bar-spinner 400ms linear infinite;
  -o-animation: loading-bar-spinner 400ms linear infinite;
  animation: loading-bar-spinner 400ms linear infinite; }

@-webkit-keyframes loading-bar-spinner {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-moz-keyframes loading-bar-spinner {
  0% {
    -moz-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-o-keyframes loading-bar-spinner {
  0% {
    -o-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-ms-keyframes loading-bar-spinner {
  0% {
    -ms-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes loading-bar-spinner {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

#loading-bar .bar {
  background-color: blue; }

#loading-bar-spinner {
  display: none; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

[data-ng-click] {
  cursor: pointer; }

.no-uix {
  outline: 0;
  text-decoration: none;
  color: initial; }

.rotate-on-hover {
  transition: all 1s cubic-bezier(0.6, -0.28, 0.74, 0.05); }

.rotate-on-hover:hover {
  transform: rotate(360deg); }

.card {
  background-color: white;
  padding: 15px;
  border-radius: 3px;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  margin-bottom: 22px; }

i.arrow {
  border: solid gray;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 6px; }
  i.arrow.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }
  i.arrow.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg); }

.text-center {
  text-align: center; }

#loadMore {
  background-color: #01adff;
  color: white;
  padding: 3px 37px 3px 14px;
  border-radius: 16px;
  box-shadow: 0 4px 12px 1px #01adff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -40px;
  cursor: pointer;
  transition: all 0.5s ease-out; }
  #loadMore:hover {
    box-shadow: 0 4px 12px 1px #c2c2c2; }
  #loadMore[disabled] {
    opacity: 0.3; }
  #loadMore:after, #loadMore:before {
    position: absolute;
    width: 2px;
    height: 9px;
    background-color: white;
    content: '';
    top: 50%;
    right: 15px;
    transform: translateY(-50%) rotate(46deg); }
  #loadMore:before {
    right: 21px;
    transform: translateY(-50%) rotate(-46deg); }

body {
  margin-top: 100px;
  background-color: #f1f1f1;
  font-family: "Poppins"; }
  body [data-ng-view] {
    transition: opacity .5s ease-out; }
    body [data-ng-view].loading {
      opacity: 0.7; }
  body header {
    z-index: 99;
    text-transform: capitalize;
    padding: 15px 41px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid gainsboro;
    background-color: white;
    border-top: 2px solid #ffd944; }
    body header h3 {
      display: inline-block;
      margin: 0; }
  body #pokemonsView {
    position: relative; }
    body #pokemonsView table {
      margin-bottom: 53px;
      border-collapse: separate;
      border-spacing: 0 10px; }
      body #pokemonsView table th {
        text-align: left; }
      body #pokemonsView table tr {
        background-color: white;
        margin-bottom: 12px; }
        body #pokemonsView table tr:first-child {
          background-color: transparent; }
          body #pokemonsView table tr:first-child th {
            padding-left: 15px; }
        body #pokemonsView table tr td {
          padding: 0 15px;
          text-transform: capitalize; }
          body #pokemonsView table tr td:first-child {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            width: 30px; }
          body #pokemonsView table tr td:last-child {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px; }
  body #view-pokemon .pokemon .name {
    text-transform: capitalize; }
  body #view-pokemon .pokemon h3,
  body #view-pokemon .pokemon h5,
  body #view-pokemon .pokemon p {
    color: #585858;
    margin-bottom: 5px; }
  body #view-pokemon .pokemon p {
    font-size: 13px;
    font-weight: 500; }
  body #view-pokemon .pokemon img {
    max-height: 156px; }
  body #view-pokemon .pokemon .about > h3 {
    margin-top: 0; }
  body #view-pokemon .pokemon .about p {
    margin: 0;
    display: inline;
    font-size: 12px;
    line-height: 1; }
  body #view-pokemon .pokemon .stats {
    margin-top: 80px;
    position: relative; }
    body #view-pokemon .pokemon .stats:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: -8px;
      width: 7px;
      box-shadow: -11px 0 18px 1px #c4c4c4; }
    body #view-pokemon .pokemon .stats:before {
      content: 'Stats';
      position: absolute;
      font-size: 86px;
      bottom: -11px;
      font-weight: 600;
      opacity: 0.1;
      z-index: -1;
      left: 50%;
      transform: translateX(-50%); }
    body #view-pokemon .pokemon .stats ul {
      padding: 0;
      white-space: nowrap;
      overflow: auto; }
      body #view-pokemon .pokemon .stats ul li {
        list-style: none;
        display: inline-block;
        margin-right: 44px; }
        body #view-pokemon .pokemon .stats ul li p {
          text-transform: capitalize; }
      body #view-pokemon .pokemon .stats ul::-webkit-scrollbar {
        width: 2px;
        height: 2px; }
      body #view-pokemon .pokemon .stats ul::-webkit-scrollbar-button {
        width: 0;
        height: 0; }
      body #view-pokemon .pokemon .stats ul::-webkit-scrollbar-thumb {
        background: #e1e1e1;
        border: 0 none #ffffff;
        border-radius: 50px; }
      body #view-pokemon .pokemon .stats ul::-webkit-scrollbar-thumb:hover {
        background: #ffffff; }
      body #view-pokemon .pokemon .stats ul::-webkit-scrollbar-thumb:active {
        background: #000000; }
      body #view-pokemon .pokemon .stats ul::-webkit-scrollbar-track {
        background: #666666;
        border: 0 none #ffffff;
        border-radius: 50px; }
      body #view-pokemon .pokemon .stats ul::-webkit-scrollbar-track:hover {
        background: #666666; }
      body #view-pokemon .pokemon .stats ul::-webkit-scrollbar-track:active {
        background: #333333; }
      body #view-pokemon .pokemon .stats ul::-webkit-scrollbar-corner {
        background: transparent; }
    body #view-pokemon .pokemon .stats .bar {
      width: 28px;
      display: inline-block;
      height: 0;
      background-color: #ffd944;
      display: block;
      margin: 0 auto;
      transition: all 0.3s ease-out; }
  body #view-pokemon .pokemon .stats-alt span {
    color: #585858; }
  body #view-pokemon .pokemon .stats-alt .bars {
    display: inline-block;
    margin-left: 8px; }
    body #view-pokemon .pokemon .stats-alt .bars span {
      display: inline-block;
      width: 24px;
      height: 12px;
      background-color: #ffd944;
      border-radius: 10px;
      margin-right: 6px; }
      body #view-pokemon .pokemon .stats-alt .bars span:last-child {
        margin-right: 0; }
  body #view-pokemon .pokemon .stats-alt ul {
    padding: 0 10px; }
    body #view-pokemon .pokemon .stats-alt ul li {
      list-style: none;
      width: 100%; }
  body #view-pokemon .pokemon .evolution .card {
    margin-bottom: 0; }
  body #view-pokemon .pokemon .evolution h4,
  body #view-pokemon .pokemon .items h4 {
    color: #585858; }
  body #view-pokemon .pokemon .evolution div.ul,
  body #view-pokemon .pokemon .items div.ul {
    padding: 0; }
    body #view-pokemon .pokemon .evolution div.ul div.li,
    body #view-pokemon .pokemon .items div.ul div.li {
      display: inline-block;
      list-style: none;
      position: relative; }
      body #view-pokemon .pokemon .evolution div.ul div.li a,
      body #view-pokemon .pokemon .items div.ul div.li a {
        display: block; }
      body #view-pokemon .pokemon .evolution div.ul div.li:last-child,
      body #view-pokemon .pokemon .items div.ul div.li:last-child {
        margin-right: 0; }
      body #view-pokemon .pokemon .evolution div.ul div.li h5,
      body #view-pokemon .pokemon .items div.ul div.li h5 {
        margin: 0;
        text-transform: capitalize; }
      body #view-pokemon .pokemon .evolution div.ul div.li .level,
      body #view-pokemon .pokemon .items div.ul div.li .level {
        background-color: #ffd944;
        color: white;
        padding: 5px;
        border-radius: 100%;
        width: 38px;
        display: table;
        height: 38px;
        padding-top: 6px;
        position: absolute;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
        box-shadow: 0 1px 1px 1px rgba(212, 212, 212, 0.49);
        text-align: center; }
        body #view-pokemon .pokemon .evolution div.ul div.li .level span,
        body #view-pokemon .pokemon .items div.ul div.li .level span {
          display: table-cell;
          vertical-align: middle; }
  body #view-pokemon .stat-bar {
    height: 18px;
    background-color: #c5c5c5;
    border-radius: 20px;
    max-width: 250px;
    margin: 0 auto;
    position: relative;
    overflow: hidden; }
    body #view-pokemon .stat-bar p {
      margin: 0;
      z-index: 9;
      position: relative;
      color: white;
      font-size: 12px; }
    body #view-pokemon .stat-bar .fill {
      border-radius: 20px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 45%;
      background-color: #ffd944;
      transition: all 0.3s ease-out; }

div.error h3 {
  margin: 0; }

div.error small {
  margin-bottom: 5px;
  display: inline-block; }

@media (max-width: 768px) {
  body header {
    padding: 15px; }
  body #view-pokemon .pokemon {
    margin-top: 0; }
  body #view-pokemon .pokemon .stats-alt .bars {
    display: none; } }
